# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/

# Editor & system files
.DS_Store
*.swp

# Packaging artifacts
build/
dist/
*.egg-info/
.eggs/

# Test output or logs
*.log

# Thumbnails or generated images
thumbnails/
*.png
*.jpg

# LibreOffice conversion temp files
*.pdf

# Backup files
*~

# VSCode & PyCharm
.vscode/
.idea/

.key/
.pptx/
